/* CSS stuff below*/



/* box things*/
* {box-sizing: border-box;}


body {
    font-size: 18px;
    font-family: blanket, sans-serif;
    font-style: normal;
    font-weight: 300;
    margin: 0;
}

header {
    background-color:#C6FA98;
    padding: 1.2rem 4vw;
    display: flex;
    align-items: flex-end;
}

Header div{
    padding-left:2vw;
}

header h1 {
    margin: 0;
    color:#FFAA8F;
}

header h2{
    margin: 0;
    color:#FFAA8F;
    letter-spacing: 1px;
    font-size: 22px;
} 

/* small view*/
@media only screen and (max-width: 600px) {
    nav ul{
        margin: 0;
        padding: 0 2vw;
        list-style-type: none;
    }
    nav a{
        display: block;
        padding: .4rem;
        text-decoration: none;
        font-weight: 800;
        color:#C6FA98;
        text-align: center;
        border-bottom: solid 1px;
    }
    nav li.active a {
        background-color: #C6FA98;
        background-image: linear-gradient(to bottom, #c6fa98,#a9d582);
        color:#7FE3CB;
    }

}

/*big view*/
@media only screen and (min-width: 601px) {
    nav{
        background-color: #7FE3CB;
    }
    
    nav a{
        font-size: 125%;
        text-decoration: none;
        color:#C6FA98;
        font-weight: 800;
        display: block;
        padding: .9rem 3rem;
    }
    
    nav li.active a{
        background-color: #C6FA98;
        color:#7FE3CB;
    }
    
    nav a:hover{
        color:#8B9EFC;
    }
    
    nav ul{
        list-style-type: none;
        padding: 1vw 3vw;
        margin: 0;
        display: flex;
    }
    

}/* no media stuff after*/



/* main thang*/

main h1{
    color:#E4CB83;
}

main{
    padding: 2rem 3vw;
}
main h2{
    color: #E4CB83;
    margin-bottom: .5rem
}
main p{
    color: black;
    margin: 0 0 .5rem 0;
    font-size: 1.2rem;
}

main ol{
    padding: 1rem 4vw;
    background-color:#8B9EFC;
    color:#FFAA8F;
}

main ol{
    list-style-type:decimal;
}
main ol li{
    line-height: 100%;
    margin-bottom: 1rem;
    font-size: 1rem;
    margin: .4rem;
}

main dl dt{
    color:#FFAA8F;
    font-weight: 500;
    padding: .5rem;
    font-size: 1.2rem;
}

main dl dd{
    color:#7FE3CB;
    font-size: 1.3rem;
}

/*image things*/
figure.wrapped{
    width:30%;
    margin: 0 0 0 3%;
    float: right;
}
figure.wrapped img{
    width:100%;
    height: auto;
   
}


figure.wrapped figcaption{
    text-align: center;
    font-size: 1rem;
}

div.gallery{
    display: flex;
    flex-wrap: wrap;
}
div.gallery figure{
    margin: 1rem 10% 0 0;
    padding: 2rem;
}

div.gallery img:hover{
    box-shadow: 2px 2px 8px black;
}

div.gallery figure{
    text-align: center;
    font: 1rem;
}
/*writy stuff*/
.myform fieldset{
    border: 1px solid #7FE3CB;
    margin-bottom: 1rem;
}
.myform legend{
    color:#7FE3CB;
    font-size: 1rem;
}

.myform label{
    margin: 1rem;
}
.myform [type=submit] {
    background-color:#7FE3CB;
    border: .5rem;
    padding: 1rem;
    color:#8B9EFC;
    border-radius: 15px;
    margin: 1rem 0;
}
.myform label, .myform select, .myform [type=text], .myform [type=tel], .myform textarea {
    display: block;
}
.myform textarea{
    height: 10rem;
}



table.events {
    width: 100%;
    border-collapse: collapse;
}

table.events th{
    background-color:#E4CB83;
    padding: .5rem 4vw;
    text-align: left;
}

table.events td {
    color:#FFAA8F;
    padding: .4rem 4vw;
}

table.events tr:nth-child(odd) {
    background-color:#C6FA98 ;
}

table.events tr:hover {
    background-color:rgba(127,227,203,.2);
}

/* the foot(dawgs)*/

footer {
    background-color: #E4CB83;
    text-align: center;
    color: #FFAA8F;
    padding: 1rem 1rem 0 0;
    font-size: 1rem;
}

footer a{
    color:#8B9EFC;
}

header, nav, main, footer{
    max-width: 80rem;
    margin: auto;
}


